  {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>PJM</title>
    <link rel="stylesheet" href='{% static "about.css" %}' >
</head>
<body>
<h1 style="text-align: center;">PROJECT MANAGEMENT SYSTEM</h1>
   <div class="row">
  <div class="column"> <div class="card">
    <img class="img" src="{% static 'quality.jpg' %}"  style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;"  >
    <div class="container">
      <h4><b>Quality</b></h4>
      <p>*here are several qualities that effective project managers share that increase their overall success in leading and managing projects and teams. Key qualities include strong communication  project managers have and how you can work on fostering these qualities within yourself to improve your effectiveness     <br>  </p>
    </div>

  </div>
  </div>

    <div class="column"> <div class="card">
    <img class="img" src="{% static 'resource.jpg' %}" style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;" >
    <div class="container">
      <h4><b>Resources</b></h4>
      <p> *That seemingly simple definition can apply to a massive range of assets, from copier paper to employee morale. So it’s helpful to break it down into categories.

One popular way to categorize resources is to sort them into tangible and intangible.

 of tangible resources.</p>
    </div>

  </div>
  </div>
    <div class="column"> <div class="card">
    <img class="img" src="{% static 'planning.jpg' %}" style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;" >
    <div class="container">
      <h4><b>Planning</b></h4>
      <p>*A project plan is a series of formal documents that define the execution and control stages of a project. The plan includes considerations for risk management, resource management and communications, while also addressing scope, cost and schedule baselines. Project planning software is used by project managers to ensure that their plans are thorough and robust</p>
    </div>

   </div>
    </div>
   </div>
<div class="row">
  <div class="column"> <div class="card">
    <img class="img" src="{% static 'submission.png' %}" style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;"  >
    <div class="container">
      <h4><b>Submission</b></h4>
      <p><br>*Oversees and manages domestic, regional and/or international clinical trials conducted at Labcorp Drug Development research sites, external sites, and data services projects. Projects generally include full service including multiple moderately complex trials managing multiple vendors and external sites for trials of moderate to high financial value, and may consist of serving in a program oversight role. Primary client contact, and responsible for the facilitation of communication, managing client.
      </p>
    </div>

  </div>
  </div>


  <div class="column"> <div class="card">
   <img class="img" src="{% static 'selection.jpg' %}" style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;" >
    <div class="container">
      <h4><b>Selection</b></h4>
      <p><br> *The PM is like a basketball coach or the manager of an American football team; the PM is the one who develops the game plan and guides the team to victory. The role of the PM is not only to plan the project but also to estimate costs and resources needed, schedule and coordinate the implementation activities.  The PM is also a change manager who needs to communicate up, down and sideways to various stakeholders updating the plan as progress is made.
      </p>
    </div>

  </div>
  </div>
  <div class="column"> <div class="card">
   <img class="img" src="{% static 'design.jpg' %}" style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;" >
    <div class="container">
      <h4><b>Designing</b></h4>
      <p><br>*Project design is an early phase of the project where a project's key features, structure, criteria for success, and major deliverables are all planned out. The aim is to develop one or more designs that can be used to achieve the desired project goals. Stakeholders can then choose the best design to use for the execution of the project</p>
    </div>

  </div>
  </div>
</div>
</div>
</body>
</html>